<ul class="navigation">
	<li class="nav-item"><a href="#">Home</a></li>
	<li class="nav-item"><a href="#">Upload</a></li>
	<li class="nav-item"><a href="#">Gestion</a></li>
	<li class="nav-item"><a href="#">Statistiques</a></li>
	<li class="nav-item"><a href="#">About</a></li>
	<li class="nav-item"><a href="#">Contact</a></li>
	<li class="nav-item"><a href="/#!/logout" class="fa fa-power-off" aria-hidden="true" > Se déconnecter</a></li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>


<div class="site-wrap">

	<img id="logo" src="../lib/img/rain.png"/>
	<div class="navigaProfile">
		<div class="profilePic">

		</div>
		<div class="infoProfile">
			<p class="prenomPro">{{fistName}}</p>
			<p class="nomPro">{{lastName}}</p>
			
			<div class="dropdown">
				<button onclick="myFunction()" class="dropbtn">Comptes</button>
				<div id="myDropdown" class="dropdown-content">
					<a class="racCpt" ng-click="myFunc()"><img class="iconeCmpt" src="../lib/img/gdlogo.png"/> <p class="txtCpt">Google Drive</p></a>
					<a class="racCpt" href="api/dropbox/login"><img class="iconeCmpt" src="../lib/img/dropbox.png"/> <p class="txtCpt">Dropbox</p></a>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<!-- <div id="login-box" class="hide">
			<p>Please login on your google account.</p>
			<button ng-click="myFunc()">OK</button>
		</div> -->
		<div id="dropbox">
			<p>Dropbox</p><br>
			<table>
				<ul>
					<li>test.txt</li>
					<li>moi.jpg</li>
					<li>hello.html</li>
				</ul>
			</table>
		</div>
	</div>
</div>
