<div id="registerBackground">

    <div id="logContainer">
        <h2 id="titleLogin">Login</h2>
        <form name="logForm" ng-submit="submitForm(logForm)">
            <label class="labelLog" for="mail">Mail</label>
            <input class="inputLog" type="email" id="mail" name="mail" placeholder="Email" ng-model="mail" required>

            <label class="labelLog" for="password">Mot de passe</label>
            <input class="inputLog" type="password" id="password" name="password" placeholder="Mot de passe" ng-model="password" required>

            <input class="submitLog" type="submit" ng-disabled="logForm.$invalid" value="Submit">
            <a  href="/#!/register" class="goReg" type="button" >S'enregistrer</a>

        </form>
    </div>

</div>
