<div class="modal fade ng-pristine ng-valid ng-scope in ng-touched" ng-model="modalDeconnexion" id="modal-deconnexion.html" tabindex="-1" role="dialog" aria-labelledby="modalDeconnexion" style="display: block; padding-right: 10px;" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header gray-accueil">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title  text-uppercase text-center" id="myModalLabel">Avertissement</h4>
            </div>
            <div class="modal-body">
                Êtes vous sûr(e) de vouloir quitter votre espace ?

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close('nonDeconnexion')">
                    <i class="glyphicon glyphicon-remove"></i>Annuler
                </button>
                <button type="button" class="btn text-uppercase white btn-primary" data-dismiss="modal" ng-click="close('ouiDeconnexion')">
                    <i class="glyphicon glyphicon-off"></i> Se déconnecter
                </button>
            </div>
        </div>
    </div>
</div>