<div id="registerBackground">
    <div id="regisContainer">
        <h2 id="titleLogin">S'enregistrer</h2>
        <form name="regForm" ng-submit="submitForm(regForm)">
            <label class="labelReg" for="fname">Prénom</label>
            <input class="inputReg" type="text" id="fname" name="firstname" ng-model="firstname" placeholder="Prénom">

            <label class="labelReg" for="lname">Nom</label>
            <input class="inputReg" type="text" id="lname" name="lastname" ng-model="lastname" placeholder="Nom">

            <label class="labelReg" for="mail">Mail</label>
            <input class="inputReg" type="email" id="mail" name="mail" ng-model="mail" placeholder="Email">

            <label class="labelReg" for="password">Mot de passe</label>
            <input class="inputReg" type="password" id="password" name="password" ng-model="password" placeholder="Mot de passe">

            <input class="submitReg" type="submit" ng-disabled="regForm.$invalid" value="Submit">
        </form>
    </div>
</div>
